#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  /* 圆角 */
  border-radius: 10px;
  /* 背景阴影 */
  background: #f1f1f1;
}
.Col1 {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  /* 圆角 */
  border-radius: 10px;
  /* 背景阴影 */
  background: #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* 固定宽度 */
  width: 400px;
}
.Col2 {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  /* 圆角 */
  border-radius: 10px;
  /* 背景阴影 */
  background: #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: auto;
}